IP={{ dropbear_initramfs.initramfs_ip }}::{{ dropbear_initramfs.initramfs_default_gateway }}:{{ dropbear_initramfs.initramfs_subnetmask }}:{{ dropbear_initramfs.initramfs_hostname }}:{{ dropbear_initramfs.initramfs_network_interface }}:off